.contact-section {
    height: 50px;
    width: 100%;
    min-width: 280px;
    position: fixed;
    bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    .icon {
        height: 50px;
        opacity: 0.21;
        margin: 0 5px;
        cursor: pointer;
        transition: opacity .25s ease-in-out;
        -moz-transition: opacity .25s ease-in-out;
        -webkit-transition: opacity .25s ease-in-out;
        &:hover {
            opacity: 1;
        }
    }
}
