body, html {
    height: 100%;
    transform: scale(1);
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    max-width: 100%;
}

.main-parallax {
    /* Image */
    background-image: url('backgrounds/sea-to-sky-background.jpg');

    /* Height */
    height: 100%;
    width: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
.db-parallax {
    /* Image */
    background-image: url('backgrounds/diamondback-background.jpg');

    /* Height */
    height: 60%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pier-parallax {
    /* Image */
    background-image: url('backgrounds/pier-background.jpg');

    /* Height */
    height: 75%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu-title {
    height: auto;
    width: 100%;
    font-family: sans-serif;
    font-size: 35px;
    background: rgba(150, 150, 150, 0.6);
    margin: 0%;
    position: relative;
    top: 35%;
    text-align: center;
    padding: 10px;
}

.menu-subtitle {
    height: auto;
    width: 100%;
    font-family: sans-serif;
    background: rgba(255, 255, 255, 0);
    margin: 0%;
    position: relative;
    top: 35%;
    text-align: center;
    padding: 10px;
}

.right-box {
    height: 100%;
    width: 75%;
    font-family: sans-serif;
    background: rgba(255, 255, 255, 0.8);
    margin-top: 0%;
    margin-right: 0%;
    margin-left: 25%;
    margin-bottom: 0%;
}

.page-title-std {
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    font-family: sans-serif;
    font-size: 36px;
    text-align: center;
}

.date-std {
    font-family: sans-serif;
    font-size: 18px;
    text-align: right;
    padding-right: 5%;
}

.text-std {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    font-family: sans-serif;
    font-size: 25px;
    text-align: center;
}

.fb {
    opacity: 0.7;
    height: 55px;
    width: 55px;
    margin: 0 auto;
}

.fb:hover {
    opacity: 1;
}

.git {
    opacity: 0.7;
    height: 55px;
    width: 55px;
    margin: 0 auto;
}

.git:hover {
    opacity: 1;
}

.email {
    opacity: 0.7;
    width: 55px;
    height: 50px;
    margin: 0 auto;
}

.email:hover {
    opacity: 1;
}

.center {
    margin: auto;
    width: 100%;
}