body, html {
    transform: scale(1);
    margin: 0;
    max-width: 100%;
    max-height: 100%;
}

div.background { 
    background: url(backgrounds/test-background.png);
    height: auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -10vh;
    position: relative;
}

.navbar {
    background-color: black;
    height: 10vh;
    width: 100vw;
    max-width: 100%;
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 100;
}

.navigation {
    height: 10vh;
    cursor: pointer;
    background-color: black;
    text-decoration: none;
    color: white;
    line-height: 10vh;
    vertical-align: middle;
    padding-right: 5vw;
    padding-left: 5vw;
    text-align: center;
    display: inline-block;
    font-family: 'Work Sans', sans-serif;
    font-size: 38px;
    justify-content: space-around;
}

.active-pink {
    background: #EC576B;
}

.active-blue {
    background: #4EC5C1;
}

.active-yellow {
    background: #41e287;
}

.active-orange {
    background: #f3c394;
}

.menu-intro {
    width: 100%;
    height: auto;
    font-family: 'Work Sans', sans-serif;
    font-size: 80px;
    padding-top: 30vh;
    text-align: center;
    color: black;
}

.menu-name {
    width: 100%;
    line-height: 0;
    font-family: 'Work Sans', sans-serif;
    font-size: 100px;
    padding-bottom: 25vh;
    text-align: center;
    color: #EC576B;
}

.menu-icons {
    height: auto;
    width: 50vw;
    font-family: sans-serif;
    background: rgba(255, 255, 255, 0);
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 1vw;
    max-width: 100%;
    display: block;
}

.profile-pic {
    position: center;
    height: 40vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    margin-top: 6.6vh;
}

.resume {
    cursor: pointer;
    background-color: #4EC5C1;
    text-decoration: none;
    color: white;
    vertical-align: middle;
    text-align: center;
    padding-right: 2.5vw;
    padding-left: 2.5vw;
    font-family: 'Work Sans', sans-serif;
    font-size: 32px;
    border-color: white;
    border-style: solid;
    border-width: medium;
    display: inline-block;
}

.resume:hover {
    color: #4EC5C1;
    background: white;
}

.contact-icon {
    opacity: 0.4;
    height: 8vh;
    margin: 0 auto;
    filter: grayscale(100);
}

.contact-icon:hover {
    opacity: 1;
    transition: opacity 0.4s ease-in-out;
    filter: grayscale(0);
}

.text {
    /* manually set background in html per section */
    color: white;
    width: 70vw;
    margin-left: 5vw;
    margin-right: 5vw;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 2vh;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 30px;
    display: block;
}

.section-title {
    background-color: rgba(0, 0, 0, 0);
    padding-top: 5vh;
    color: white;
    font-size: 40px;
    font-family: 'Work Sans', sans-serif;
}

.portfolio-row {
    height: auto;
    width: 70vw;
    padding-bottom: 5vh;
}

.portfolio-column {
    width: 20vw;
    position: relative;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 0vh;
    padding-top: 0vh;
    display: inline-block;
}

.project-box {
    height: 20vw;
    width: 20vw;
}

.project-image {
    height: 20vw;
    width: 20vw;
    text-decoration: none;
    display: table-cell;
    background-size: contain;
    text-align: center;
    color: white;
    vertical-align: middle;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 2vmin;
}

.project-box:hover .project-image {
    filter: brightness(30%);
}

.project-box:hover .middle {
    opacity: 1;
}

.work-box {
    background-color: white;
    color: black;
    width: 70vw;
    height: 15vh;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 5vh;
    padding-left: 10vw;
    padding-right: 10vw;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 30px;
    border: solid;
    border-width: 1vh;
    border-color: #f3c394;
    border-radius: 65vw;
}

.work-logo {
    height: 100%;
    padding-left: 2vw;
    padding-right: 2vw;
    float: left;
}

.work-text {
    margin: 0;
    padding-top: 5vh;
    padding-bottom: 5vh;
    line-height: 100%;
    font-family: 'Work Sans', sans-serif;
    display: inline-block;
    font-size: 5vh;
    vertical-align: middle;
}

.end {
    width: 100vw;
    max-width: 100%;
    background: rgba(0, 0, 0, 0);
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    font-size: 100px;
    padding-top: 50vh;
    padding-bottom: 40vh;
}

@media only screen and (max-width: 1247px) {
    .project-box:hover .middle {
        opacity: 0;
    }  
}


@media only screen and (max-width: 800px) {
    body, html {
        margin: 0;
        width: 100vw;
        max-width: 100%;
        max-height: 100vh;
    }
    
    main-parallax {
        width: 100vw;
        background: url(backgrounds/mobile-test.png);
        background-position: left;
    }
    
    .navbar {
        opacity: 0;
        width: 100vw;
    }
    
    .navigation {
        opacity: 0;
    }
    
    .menu-title {
        top: 20%;
    }
    
    .menu-subtitle {
        top: 15%;
    }
    
    .resume {
        width: 50vw;
    }
    
    .text {
        width: 80vw;
        margin-left: 0vw;
        margin-right: 0vw;
        opacity: 0.9;
    }
    
    .portfolio-row {
        height: auto;
        width: 80vw;
        padding-bottom: 5vh;
    }

    .portfolio-image {
        height: 80vw;
        width: 80vw;
        padding-bottom: 5vh;
    }
    
    .contact-icon {
        bottom: 1vh;
        left: 1vw;
    }
    
    .work-text {
        color: white;
        font-size: 30px;
        padding-top: 0;
        margin-top: 0;
        margin-bottom: 0;
        float: none;
    }
    
    .work-logo {
        float: none;
        margin-top: 0;
        margin-left: 20vw;
        margin-right: 20vw;
    }
}