body, html {
        height: 100%;
        transform: scale(1);
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        max-width: 100%;
    }

    .main-parallax {
        /* Image */
        background-image: url('backgrounds/nyc-background.jpg');

        /* Height */
        height: 100%;
        width: 100%;

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;
    }
    .db-parallax {
        /* Image */
        background-image: url('backgrounds/diamondback-background.jpg');

        /* Height */
        height: 80%;

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .pier-parallax {
        /* Image */
        background-image: url('backgrounds/pier-background.jpg');

        /* Height */
        height: 80%;

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .menu-title {
        height: auto;
        width: 100%;
        font-family: sans-serif;
        background: rgba(150, 150, 150, 0.8);
        margin: 0%;
        position: relative;
        top: 35%;
        text-align: center;
        padding: 10px;
    }

    .menu-subtitle {
        height: auto;
        width: 100%;
        font-family: sans-serif;
        background: rgba(255, 255, 255, 0);
        margin: 0%;
        position: relative;
        top: 35%;
        text-align: center;
        padding: 10px;
    }

    .page-title {
        height: 10%;
        width: 25%;
        font-family:sans-serif;
        background:rgba(150, 150, 150, 0.9);
        margin-right: 75%;
    }

    .right-text-page {
        height: 100%;
        width: 75%;
        font-family:sans-serif;
        background:rgb(255, 255, 255);
        opacity: 0.8;
        margin-top: 0%;
        margin-right: 0%;
        margin-left: 25%;
        margin-bottom: 0%;
        padding: 0%;
    }

    .fb {
        opacity: 0.7;
        width: 55px;
        margin: 0 auto;
    }

    .fb:hover {
        opacity: 1;
    }

    .git {
        opacity: 0.7;
        width: 55px;
        margin: 0 auto;
    }

    .git:hover {
        opacity: 1;
    }

    .email {
        opacity: 0.7;
        width: 55px;
        height: 50px;
        margin: 0 auto;
    }

    .email:hover {
        opacity: 1;
    }

    .center {
        margin: auto;
        width: 100%;
    }