.navbar {
    overflow: hidden;
    width: 100%;
    max-width: 100vw;
    height: 24px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 1;
    button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: calc(25% - 1px);
        background-color: #333;
        color: white;
        cursor: pointer;
        font-family: ShareTechMono;
        font-size: 14px;
        text-decoration: none;
        transition: background-color .25s ease-in-out;
        -moz-transition: background-color .25s ease-in-out;
        -webkit-transition: background-color .25s ease-in-out;
        &.active, &:hover {
            background-color: white;
            color: #333;
        }
    }
}
