.intro {
    height: 100vh;
    width: 100vw;
    display: flex;
    background-image: url('../../assets/skyline.svg');
    background-position-x: 15%;
    background-position-y: 70%;
    background-repeat: no-repeat;
    background-size: 120%;
    .half {
        height: 100%;
        width: 50%;
        min-width: 285px;
        display: flex;
        align-items: center;
        padding: 0 5%;
        .title-writer {
            font-family: ShareTechMono;
            font-size: 48px;
        }
        .profile-picture {
            width: 80%;
            float: center;
            border-radius: 50%;
        }
    }
}
